In [32]:
import pandas as pd
#from flask import Flask, jsonify, request 
Metadata=pd.read_csv('data/Belly_Button_Biodiversity_Metadata.csv')
otu_id=pd.read_csv('data/belly_button_biodiversity_otu_id.csv')
samples=pd.read_csv('data/belly_button_biodiversity_samples.csv')
metadata_columns=pd.read_csv('data/metadata_columns.csv')

In [4]:
Metadata.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [45]:
sample2=samples.sort_values(by='BB_940',ascending=False)[['BB_940']][0:10]
otu_id=samples.sort_values(by='BB_940',ascending=False)[['otu_id']][0:10]
output=pd.concat([otu_id,sample2],axis=1)
output.to_dict(orient="lists")

{'BB_940': [163.0, 126.0, 113.0, 78.0, 71.0, 51.0, 50.0, 47.0, 40.0, 40.0],
 'otu_id': [1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977]}

In [38]:
otu_id=samples.sort_values(by='BB_940',ascending=False)[['otu_id']][0:10]

In [40]:
output=pd.concat([otu_id,sample2],axis=1)

      otu_id  BB_940
1166    1167   163.0
2858    2859   126.0
481      482   113.0
2263    2264    78.0
40        41    71.0
1188    1189    51.0
351      352    50.0
188      189    47.0
2317    2318    40.0
1976    1977    40.0

In [23]:
#samples=
samples.sort_values(by='BB_940',ascending=False).loc['BB_940']
#[samples.to_dict(orient="lists")]

KeyError: 'the label [BB_940] is not in the [index]'

In [3]:
Belly_Button_Biodiversity_Metadata.columns

Index(['SAMPLEID', 'EVENT', 'ETHNICITY', 'GENDER', 'AGE', 'WFREQ', 'BBTYPE',
       'LOCATION', 'COUNTRY012', 'ZIP012', 'COUNTRY1319', 'ZIP1319', 'DOG',
       'CAT', 'IMPSURFACE013', 'NPP013', 'MMAXTEMP013', 'PFC013',
       'IMPSURFACE1319', 'NPP1319', 'MMAXTEMP1319', 'PFC1319'],
      dtype='object')

In [4]:
belly_button_biodiversity_otu_id.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [6]:
belly_button_biodiversity_samples.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
belly_button_biodiversity_samples[belly_button_biodiversity_samples.otu_id==1166].sum(axis=1)-1165

1165    12.0
dtype: float64

In [46]:
import requests

In [ ]:
r = request.get(â€˜http://â€™)